{%extends "restaurant/header.html"%}
{% block content %}
 <style>
 	.embed-container {
		position: relative;
		padding-bottom: 80%;
		height: 0; 
		max-width: 100%;
	}
	.embed-container iframe, .embed-container object, .embed-container iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 600px;
	}
	small{
		position: absolute;
		z-index: 40;
		bottom: 0;
		margin-bottom: -15px;
	}
</style>
 <div class="embed-container" style=" margin-left:10px; margin-right:10px; ">
 <iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="政大地圖" src="//www.arcgis.com/apps/Embed/index.html?webmap=16bfbdfc5656499c8c652fb9d02b97b8&amp;extent=121.573,24.9848,121.5782,24.9877&amp;home=true&amp;zoom=true&amp;scale=true&amp;legendlayers=true&amp;disable_scroll=true&amp;theme=light">
</iframe>
</div>
{%endblock%} 
